@font-size: 14px;
@day-padding: .5em;
@border-color: #C5D3E2;
@disabled-color: #C5D3E2;
@hover-color: #BCCAD9;
@text-color: #1C2A39;
@selected-background-color: #1C2A39;
@selected-text-color: #C5D3E2;

.datepicker {
	* {
		box-sizing: border-box;
	}

	>.header {
		width: 100%;
		border-left: 2px solid @border-color;
		border-right: 2px solid @border-color;
		border-top: 2px solid @border-color;
		text-align: center;
		padding: @day-padding;
	}

	.calendar {
		width: 100%;
		border: thin solid @border-color;
		border-collapse: collapse;

		.controls {

			>div {
				border-left: 2px solid @border-color;
				border-right: 2px solid @border-color;
				border-top: 2px solid @border-color;
				position: relative;
				padding: @day-padding;

				>div {
					background: white;
					position: absolute;
					height: 100%;
					width: auto;
					top: 0;
					cursor: pointer;
					padding: @day-padding;

					&.prev {
						left: 0;
						border-right: thin solid @border-color;
					}

					&.next {
						right: 0;
						border-left: thin solid @border-color;
					}

				}
			}
		}

		.week {
			width: 100%;

			.day {
				display: inline-block;
				font-size: @font-size;
				width: 100% / 7;
				text-align: center;
				padding: @day-padding;
				border: thin solid @border-color;
				color: @text-color;

				&.selected {
					color: @selected-text-color;
					background: @selected-background-color;
				}

				&.disabled {
					color: @disabled-color;
				}

				&:not(.disabled):not(.selected):hover {
					cursor: pointer;
					background: @hover-color;
				}
			}
		}
	}
}